body{
    font: 15px/1.5 Arial, Helvetica,sans-serif;
    padding:0;
    margin:0;
    background-color: aliceblue;
  }

/* Global */

.container{
  width:80%;
  margin:auto;
  overflow:hidden;
}


/* Heading */

header {
    background-color: seagreen;
    color: white;
    padding-top: 20px;
    border-bottom: #fb047c 10px solid;
}

.logo {
    float: left;
    padding-left: 30px;
    padding-right: 50px;
}

h1 {
    font-size: 50px;
}

header li {
    padding: 20px;
    display: inline;
    font-size: 20px;
  }

  header li:hover {
    color:#cccccc;
  }


/* Showcase */
.main-info {
  float: left;
  width: 65%;
}

#showcase{
  min-height:400px;
  text-align:center;
  color:seagreen;
  background-color: beige;
  margin-top: 10px;
}

#showcase h1{
  font-size:55px;
  margin-bottom:10px;
  padding-top: 30px;
}
#showcase p{
  font-size:20px;
}

/*  Article  */

article {
  background-color: beige;
  font-size:20px;
  border-top: seagreen 10px solid;
  margin-bottom: 10px;
}

article p {
  padding: 10px;
}

article h2 {
  padding-left: 30px;
}

/* Aside */

.side-bar {
  float: right;
  width:30%;
  min-height:700px;
  margin-top: 40px;
  
}

aside {
  font-size:20px;
  border-left: seagreen 10px solid;
}

aside h2 {
  padding-left: 40px;
}

ul{
  margin:0;
  padding:0;
  list-style-type: circle;
  padding-left: 40px;
}

aside li{
  margin:30px;
  }

/*  Footer  */

footer{
    padding:10px;
    margin-top:10px;
    color: white;
    background-color:seagreen;
    border-top: #fb047c 10px solid;
    text-align: center;
  }