body{
    font: 15px/1.5 Arial, Helvetica,sans-serif;
    padding:0;
    margin:0;
    background-color: aliceblue;
  }

/* Global */


/* Heading */

header {
    background-color: seagreen;
    color: white;
    padding-top: 20px;
    border-bottom: #fb047c 10px solid;
}

.logo {
    float: left;
    padding-left: 30px;
    padding-right: 50px;
}

h1 {
    font-size: 50px;
}

header li {
    padding: 20px;
    display: inline;
    font-size: 20px;
  }

  header li:hover {
    color:#cccccc;
  }

/* Showcase */
#showcase{
  min-height:400px;
  text-align:center;
  color:seagreen;
  background-color: beige;
}
#showcase h1{
  margin-top:100px;
  font-size:55px;
  margin-bottom:10px;
}
#showcase p{
  font-size:20px;
}
/*  Main section  */

main {
    height: 350px;
}


/*  Article  */




/* Aside */





/*  Footer  */

footer{
    padding:10px;
    margin-top:10px;
    color: white;
    background-color:seagreen;
    border-top: #fb047c 10px solid;
    text-align: center;
  }